.jumbotron {
    background-image: url("/images/pizza.png");
    height: 346px;
    background-size: cover;
}
.jumbotron>h1 {
    display: flex;
    justify-content: center;
    text-align-all: center;
    position: relative;
    top: 3.5em;
}
#make-work {
    margin-left: auto;
}
