*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
nav{
    background-color: darkgrey;
    color: black;
    text-decoration: none;
    display: flex;
    position: relative;
}
.logo-link{
    font-size: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
    position: absolute;
    left: 43%;
}
nav a{
    color: black;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: blue;
}
ul{
    list-style: none;
}
.left-bar{
    display: flex;
    margin-right: auto;
    padding: 0;
}
.right-bar{
    display: flex;
    margin-left: auto;
    align-items: center;
}