@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header > nav {
    font-family: Montserrat;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.logo {
    font-size: 3em;
    padding: .2em;
    flex: 7;
    text-align: center;
    font-size: xx-large;
}
header > nav > a {
    flex: 1;
    color: black;
    display: inline-block;
    min-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    text-decoration: none;
}
header > nav > a:hover {
    color: blue;
}
.icon {
    width: 15px;
    height: 15px;
    align-self: flex-end;
    margin-top: 7px;
}