    @media all and (max-width: 524px) {
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            color: black;
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        .alert-info {
            padding: 1em;
        }
        .alert-info a {
            background-color: #CCFFFF;
            text-decoration: none;
            color: black;
            padding: 1em;
            border: 2px solid lightgrey;
        }
        h1 {
            display: flex;
            font-size: 3.1em;
            justify-content: center;
            color: black;
            padding-bottom: .5em;
        }
        .nav-links {
            display: flex;
            flex-direction: column;
            list-style: none;
            justify-content: center;
        }
        ul {
            padding: .5em;
        }
        li {
            background-color: lightgrey;
            padding: 1em;
            margin: .4em;
        }
        a {
            color: blue;
            display: flex;
            justify-content: center;
        }
        img {
            padding: 1em;
            width: 100%;
        }
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1em;
        }
        .main {
            margin-bottom: 1em;
        }
        h2 {
            margin-bottom: .5em;
        }
        .sub-section {
            font-style: italic;
        }
        footer {
            padding: 1em;
            margin-top: 3em;
        }
    }

    @media all and (min-width: 525px) {
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body {
            color: black;
            font-family: sans-serif;
            padding: 1em;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .hidden-on-desktop {
            display: none;
        }
        h1 {
            padding-top: .5em;
        }
        nav {
            display: flex;
            align-items: flex-end;
        }
        .nav-links {
            display: flex;
            list-style: none;
        }
        a {
            align-self: flex-end;
            margin-left: .7em;
        }
        .header-img {
            width: 100%;
        }
        img {
            padding-top: 2em;
            padding-bottom: 1em;
            width: 100%;
        }
        .main {
            width: 60%;
            padding-right: 1em;
        }
        h2 {
            padding-bottom: 1em;
        }
        .sub-section {
            width: 40%;
            font-style: italic;
        }
        footer {
            padding-top: 15em;
        }
    }




