h1 {
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
    color: darkgreen;
}

body {
    font-family: cursive;
    background-image: url("/images/clouds_background.jpg");
    background-size: cover;
    background-color: silver;
}

ul {
    list-style-type: square;
}

tr, td {
    font-size: 18px;
    padding: 15px
}

a {
    color: green;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    background-color: salmon;
}

a:focus {
    background-color: red;
    outline: none;
}

