h1 {
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
    color: darkgreen;
}

body {
    background-image: url("/images/clouds_background.jpg");
    background-size: cover;
    background-color: silver;
}



